/*-contenedor*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;  
}
/*Header*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
/*Imagenes*/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1;
    color: ivory;
}
.contenido-contacto p{
    font-size: 1.8rem;
}

/*Globales*/
html{
    font-size: 62.5%; /*Reset para rems*/
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.letra{
    font-size: 1.5rem;
}

.parrafo{
    font-size: 2rem;
}

.contenido-header h1{
    color: silver;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
/*Navegación*/
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: #71B100;
}
.navegacion a:last-of-type{
    margin: 0;
}

/*Utilerías*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.centrar-texto{
    text-align: center;
}
.contenido-centrado{
    max-width: 800px;
}
.fw-300{
    font-weight: 300;
}

/*Iconos Nosotros */
.icono-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}

/*Footer*/
.site-footer{
    background-color: #333333;
    margin: 0;
}
.copyright{
    margin: 0;
    color: #ffffff;
}
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
/*Internas*/
.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 3rem 0;
}

input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    border: none;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

input[type="radio"]{
    width: auto;
    margin: 0;
}